.pp{
    height: 25%;
    width: 20%;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    

  }
.portfolio-title{
    text-align: center;
}
.App{
    color:white;
    font-family: 'Cocogoose',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: large;
}
.intro{
    margin-top:-3%;
    margin-left: 8%;
    position:relative;
    float:left;
}
.title{
    font-family: 'CocogooseTitle',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    margin-left:-2%;
    padding-left: 4%;
    padding-right: 4%;
    border: solid white 3px;
    position: relative;
    z-index: 2;
    
    top: 36%;
    border-radius: 50px;
}
.home-background{
    background:linear-gradient(to top,rgba(58, 58, 58, 1) 1%, rgba(58, 58, 58, 1), transparent);
}
.home-background2{
    background:linear-gradient(to top,rgba(58, 58, 58, 1) 5%, rgba(58, 58, 58, 0.9), rgba(58, 58, 58, 0.7),transparent);
}
.how-am-i{
    margin-top:-7%;
    margin-left: 25%;
    position:relative;
    float:left;
    text-align: center;
    margin-right: 5%;
}
.how-am-i-title{
    font-size: 30px;
}
.navbar-custom{
    padding-top: 2%;
    padding-bottom: 4%;
    background:linear-gradient(to bottom,rgba(220, 107, 255, 1) 10%, rgba(220, 107, 255, 0.7), transparent);
    text-align: center;
}
.navbar-inside{
    width: 80%;
    margin-left:12%;
}
.navbar-element{
    margin: 2%;
    font-family: 'CocogooseTitle',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
    text-decoration: none;
    color: black;
}
.navbar-title{
    margin: 2%;
    font-family: 'CocogooseTitle',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
    text-decoration: none;
    color: black;
}
.navbar-title:hover{
    color: white;
    -ms-transform: scale(1.50); /* IE 9 */
	-webkit-transform: scale(1.10); /* Safari 3-8, chrome*/
	transform: scale(1.1); 
    
}
a { color: inherit; }
.discord:hover{
    color: #0a58ca
}
.navbar-element:hover{
    color: white;
    -ms-transform: scale(1.10); /* IE 9 */
	-webkit-transform: scale(1.10); /* Safari 3-8, chrome*/
	transform: scale(1.1); 
    
}
.navbar-logo{
    border-left: solid black;
    padding-top:2%;
    padding-bottom:3%;
    margin-right:-3%;
    margin-left:2%;
    border-radius: 50%;
    
  
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    margin-left: 2%;               
    background-color:#ffffff;
    height: 2px;
  }
.skills{
    margin-left:10%;
    margin-right: 10%;
    font-size: larger;
}
.skills-title{
    font-family: 'CocogooseTitle',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
}
.skills-left{
    text-align: left;
}
.skills-right {
    text-align: right;
}
.skills-left-txt{
    text-align: left;
    margin-left:15% !important;
}
.skills-right-txt{
    text-align: right;
    margin-right:15%;
    list-style-position: inside;
    direction: rtl;
}
.skills-puce{
    font-size: 50px;
}
.portfolio{
    background-color: rgba(216, 216, 216, 0.9);
}
.portfolio-table{
    font-weight: bold;
    text-align: center;
}
.portfolio-font{
    font-family: 'CocogooseTable',Arial,sans-serif;
    font-size: larger;
    font-weight: bold;
}
.contact{
    text-align: center !important;
    padding-bottom: -5%;
    
}
.contact-logo{
    margin: 2%;
}

.footer-custom{
    text-align: center;
    color: #DB6AFF;
    margin-bottom:-2%;
    padding-bottom: 2%;
    background:rgb(58, 58, 58);
    width: 100%;
    margin-top:-2%;
    padding-top: 3%;
    bottom: 0;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

@font-face {
    font-family: 'NorthZone';
    src: url('./font/North\ Zone.otf');
}
@font-face {
    font-family: 'Protrial';
    src: url('./font/Cocogoose\ Pro-trial.ttf');
}

@font-face {
    font-family: 'CocogooseTitle';
    src: url('./font/Cocogoose\ Pro\ Light-trial.ttf');
}
@font-face {
    font-family: 'Cocogoose';
    src: url('./font/Cocogoose\ Pro\ Thin-trial.ttf');
}
@font-face{
    font-family: 'CocogooseTable';
    src: url('./font/Cocogoose\ Pro\ Ultralight-trial.ttf');
}


@media only screen and (max-width:1350px){
    /* Navbar */
    .navbar-custom{
        width: 100vw;
    }
    .navbar-logo{
        border-left: solid black 4px;
        padding-top:40px;
        padding-bottom:40px;
        margin-right:-60px;
        border-radius: 50%;
        margin-left:8%;
    }
    .navbar-element:hover{
        color: white;
        -ms-transform: scale(1.10); /* IE 9 */
        -webkit-transform: scale(1.10); /* Safari 3-8, chrome*/
        transform: scale(1.1); 
        
    }
    .AiOutmenu{
        position:relative;
        float:left;
        margin-left: -10% !important ; 
        margin-top: 2% !important;
    }
    .navbar-element{
        margin: 2%;
        font-family: 'Cocogoose',Arial,sans-serif;
        font-weight: bolder;
        font-style: normal;
        font-size: large;
        text-decoration: none;
        color: black;
    }
    .navbar-custom{
        padding-top: 2%;
        padding-bottom: 15%;
        background:linear-gradient(to bottom,rgba(220, 107, 255, 1) 35%, rgba(220, 107, 255, 0.7), transparent);
        text-align: center;
    }
    .navbar-inside{
        width: 76%;
        margin-left:12%;
        margin-right:12%;
    }
    /* Home */
    .intro{
        margin-top:-3%;
        margin-left: 8%;
        position:relative;
        float:left;
    }
    .title{
        font-family: 'CocogooseTitle',Arial,sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 40px;
        margin-left:-5%;
    }
    .pp{
        height: 40%;
        width: 40%;
        border-radius: 50%;
        position: relative;
        z-index: 10;
      }
    .footer-customMini{
        text-align: center;
        color: #DB6AFF;
        margin-bottom:-2%;
        padding-bottom: 2%;
        background:linear-gradient(to top,rgba(58, 58, 58,1) 10%, rgba(58, 58, 58,0.7), transparent) !important;
        width: 100%;
        bottom: 1px;
    }
    .how-am-i{
        margin-top:0;
        margin-left: 10%;
        position:relative;
        float:left;
        text-align: center;
        margin-right: 0;
        width:80%;
        font-size: 25px;
    }
    .how-am-i-title{
        font-size: 40px;
    }
    .buttonMini{
        padding:2%;
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .portfolio-err{
        text-align: center;
        color:black;
        font-family: 'CocogooseTitle',Arial,sans-serif;
        font-size: larger;
    }
    .portfolio-err-h1{
        font-family: 'CocogooseTitle',Arial,sans-serif;
        text-align: center;
        color:black;
        font-size: 50px;
    }
}
@media only screen and (max-width:600px){
    .pp{
        height: 75%;
        width: 75%;
        position: relative;
        margin-left:12.5%;
        margin-right:12.5%;
        z-index: 10;
      }
      .title{
        font-family: 'CocogooseTitle',Arial,sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 50px;
        border-radius: none;
        border:none;
        margin-left:1.5%;
    }
    .intro{
        margin-top:-3%;
        margin-left:0;
        position:relative;
        float:left;
        text-align: center;
    }
}
