.pp{
    height: 25%;
    width: 20%;
    border-radius: 50%;
    

  }
.App{
    color:white;
    font-family: 'Cocogoose',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: large;
}
.intro{
    margin-top:-2%;
    margin-left: 8%;
    position:relative;
    float:left;
}
.title{
    font-family: 'CocogooseTitle',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    margin-left:-1%;
    padding-left: 1%;
    padding-right: 1%;
    border: solid white 3px;
    position: absolute;
    top: 36%;
    border-radius: 50px;
}
.how-am-i{
    margin-top:-7%;
    margin-left: 25%;
    position:relative;
    float:left;
    text-align: center;
    margin-right: 5%;
}
.how-am-i-title{
    font-size: 30px;
}
.navbar-custom{
    padding-top: 2%;
    padding-bottom: 6%;
    background:linear-gradient(to bottom, rgba(219, 106, 255, 1), transparent);
    text-align: center;
}
.navbar-inside{
    margin-left:15%;
    margin-right:15%;
}
.navbar-element{
    margin: 4%;
    font-family: 'NorthZone',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: large;
    text-decoration: none;
    color: black;
}
.navbar-title{
    margin: 4%;
    font-family: 'NorthZone',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: large;
    text-decoration: none;
    color: black;
}
.navbar-title:hover{
    color: white;
    -ms-transform: scale(1.50); /* IE 9 */
	-webkit-transform: scale(1.10); /* Safari 3-8, chrome*/
	transform: scale(1.1); 
    
}
.navbar-element:hover{
    color: white;
    -ms-transform: scale(1.10); /* IE 9 */
	-webkit-transform: scale(1.10); /* Safari 3-8, chrome*/
	transform: scale(1.1); 
    
}
.navbar-logo{
    margin: 4%;
    padding: 0.7%;
    font-size: large;
    font-family: 'Brondes',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: black;
    border: solid black;
    border-radius: 50%;
    
  
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    margin-left: 2%;               
    background-color:#ffffff;
    height: 2px;
  }
.skills{
    margin-left:10%;
    margin-right: 10%;
}
.skills-title{
    font-family: 'CocogooseTitle',Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: xx-large;
}
.skills-left{
    text-align: left;
}
.skills-right {
    text-align: right;
}
.skills-left-txt{
    text-align: left;
    margin-left:15% !important;
}
.skills-right-txt{
    text-align: right;
    margin-right:15%;
    list-style-position: inside;
    direction: rtl;
}
.skills-puce{
    font-size: 50px;
}
.portfolio{
    background-color: rgba(216, 216, 216, 0.9);
}
.footer-custom{
    text-align: center;
    color: #DB6AFF;
    margin-bottom:2%;
    padding-top:2%;
    background:linear-gradient(to top, rgb(58, 58, 58,1), transparent);
    width: 100%;
    margin-bottom: -2%;
    bottom: 0;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

@font-face {
    font-family: 'NorthZone';
    src: url('./font/North\ Zone.otf');
}
@font-face {
    font-family: 'Brondes';
    src: url('./font/Brondes\ Blue.ttf');
}

@font-face {
    font-family: 'CocogooseTitle';
    src: url('./font/Cocogoose\ Pro\ Light-trial.ttf');
}
@font-face {
    font-family: 'Cocogoose';
    src: url('./font/Cocogoose\ Pro\ Thin-trial.ttf');
}

